$none: rgba(#fff,0);
$wht: #fff;
$blk: #000;
$darkblue: rgb(12,5,40);
$triangleblue: rgb(26,78,109);
$trianglered: rgb(129,23,11);
$brightblue: rgb(16,10,95);
$goldlight: rgb(223,117,20);
$goldmid: rgb(191,80,22);
$golddark: rgb(192,44,16);
$skin: rgb(227,186,185);
$brightred: rgb(202,0,14);
$mocha: rgb(80,70,75);
$maroon: rgb(123,0,15);
$teal: rgb(15,35,59);
$purple: rgb(59,14,81);
$lilac: rgb(79,73,161);
$lightblue: rgb(42,79,138);
$offwhite: rgb(233,187,106);
$gray: rgb(28,28,45);
$lightgray: rgb(110,112,135);





html, body, div {
    height: 100%;
    margin: 0;
}

html {
    font-size: 1vmin;
}

body {
    margin: 0;
    // background: linear-gradient(rgba($blk,.1), $none);
}

div {
    // background-image: radial-gradient(darken($wht,5) 20%, $none 0), radial-gradient(darken($wht,5) 20%, $none 0);
    // background-size: 3rem 3rem;
    // background-position: 0 0, 1.5rem 1.5rem;
    background: linear-gradient(beige, $skin);
}

body > div {
    *, *:before, *:after, &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
    }
}

body.pic div:after {
    background: url('../imgs/boat.jpg') no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: .5;
}